@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("variables.css");

html {
  scroll-behavior: smooth !important;
}
body {
  background: var(--average-dark-color) !important;
  color: #fff !important;
  font-family: "Raleway", sans-serif !important;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

.admin-col {
  width: 100%;
  height: 100vh;
  position: relative;
}
.require {
  color: #666;
}
label small {
  color: #999;
  font-weight: normal;
}

.addpost-cont {
  margin: 0px auto;
  padding: 12px;
  box-shadow: 0px 0px 3px #000;
  top: 30px;
}

.main-cont {
  width: 75%;
  margin: 20px auto;
}

.card-cont {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: 150px auto;
  overflow-x: scroll;
}
.card-cont::-webkit-scrollbar {
  display: none;
}
.card-cont .card {
  width: 250px;
  height: auto;
  padding: 15px 15px;
  box-shadow: var(--light-shadow);
  background: #2c2c36;
  margin: 10px;
}

.card-cont .card .icon {
  text-align: center;
  font-size: 40px;
  color: var(--yellow);
}

.post-tables .table {
  box-shadow: var(--light-shadow);
  background: #2c2c36;
  border: none !important;
  color: #fff;
  outline: none !important;
  margin: 12px auto;
}

.admin-info .main-info {
  display: flex;
  width: 100%;
  padding: 12px;
  flex-wrap: wrap;
  align-items: center;
}

.admin-info .main-info .img-cont {
  float: left;
}
.admin-info .main-info .img-cont .img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  background-size: cover;
  background-position: center;
}
.admin-info .main-info .info {
  float: right;
  padding: 12px;
  margin: 0px auto;
}

/* modal */
.modal-cont{
  width: 100%;
  height: 100vh;
  position: fixed;
  top:0px;
  left:0px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.9);
  z-index: 1000;
}

.modal-cont .modal-card{
  padding: 12px;
  background:  var(--average-dark-color) !important;
  color: #fff;
}
.modal-cont .modal-card .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-cont .modal-card .head .closebtn{
  cursor: pointer;
}
.modal-cont .modal-card .body label{
  font-weight: 100 !important;
}