/* if the viewport is equal to 340px or less than that */
/* @media (max-width: 1440px) {
  body {
    background: red !important;
  }
} */

/* ipad pro */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    /* background: hotpink !important; */
  }

  .main-column .header .overlay .content {
    top: 60px;
    height: 50vh;
    text-align: center;
  }
  .main-column .header .overlay .content .img-cont {
    display: none;
  }
  /* right navbar */
  .right-sidebar-column {
    width: 0px;
    z-index: 1;
    /* display:none; */
  }
  /* top navbar column */
  .top-navbar-column {
    display: block;
  }

  .main-column {
    top: 20px;
  }
  .main-column .header .overlay .content {
    width: 70%;
    height: 40vh;
  }
  .main-column .portfolio-area .services .content .services-box-cont .box {
    width: 350px;
  }
  .main-column .portfolio-area .recomendations .rec-card {
    width: 350px;
    margin: 0px;
  }
  .main-column .portfolio-area .services .content .services-box-cont .box {
    width: 45%;
    margin: 10px;
  }

  .right-sidebar-column .burger {
    display: none;
  }

  /* about page */
  .about-content {
    grid-template-columns: 1fr;
    grid-template-areas: "img" "body";
  }
  .about-content .img {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
  }
  .about-content .img img {
    margin: 0px auto;
  }

  /* contact page */
  .container-column .contact-cont .form-cont {
    width: 80%;
  }
}

/* iphone 8,6,7,+ */
@media only screen and (min-width: 320px) and (max-width: 700px) {
  body {
    /* background: hotpink !important; */
  }

  /* right navbar */
  .right-sidebar-column {
    width: 0px;
    z-index: 1;
    /* display:none; */
  }
  /* top navbar column */
  .top-navbar-column {
    display: block;
  }

  .main-column {
    top: 50px;
  }
  .main-column .header .overlay .content {
    text-align: center;
    width: 100%;
    height: 45vh;
  }
  .main-column .header .overlay .content .img-cont {
    display: none;
  }
  .main-column .header .overlay .content .txt h1 {
    /* width: 300px; */
    font-size: 30px;
    font-family: "Roboto", sans-serif;
  }
  .right-sidebar-column .burger {
    display: none;
  }
  .sidebar-column .sidebar-footer {
    left: 0px;
  }
  .main-column .portfolio-area .recomendations .rec-card {
    width: 100%;
    margin: 0px;
  }
  .main-column .portfolio-area .portfolio-cont .box .overlay {
    width: 100%;
  }
  .main-column .portfolio-area .services .content .services-box-cont .box {
    width: 100%;
  }

  /* portfolio page */
  .main-column .port-portfolio-area .portfolio-cont .box {
    width: 100%;
  }

  /* about page */
  .about-content {
    grid-template-columns: 1fr;
    grid-template-areas: "img" "body";
  }
  .about-content .img {
    width: 100%;
  }

  .container-column .contact-cont .form-cont {
    width: 100%;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1280px) {
  .main-column .portfolio-area .services .content .services-box-cont .box {
    width: 300px;
  }

  /* contact file */
  .container-column .contact-cont .form-cont {
    width: 60%;
  }
}
