@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url(./variables.css);

html {
  scroll-behavior: smooth !important;
}
body {
  background: var(--average-dark-color) !important;
  color: #fff;
  font-family: "Raleway", sans-serif !important;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth !important;
}

li {
  list-style: none;
}
a {
  text-decoration: none !important;
  font-size: 13px !important;
}

.container-column {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: minmax(100px, auto);
  grid-template-areas: "sidebar main";
  padding: 10px;
  grid-gap: 2px;
  position: relative;
}

/* top navbar column */
.top-navbar-column {
  width: 100%;
  height: 8%;
  background: var(--custom-dark-color);
  box-shadow: 0px 0px 3px var(--shadow);
  text-align: center;
  color: #fff;
  z-index: 5;
  padding: 12px;
  position: fixed;
  top: 0px;
  display: none;
}

.top-navbar-column .left-dots {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  border-radius: 0px !important;
  padding: 10px !important;
}
.top-navbar-column .left-dots > div {
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  margin: 4px;
}

.top-navbar-column .navbar-menu-icon {
  border-radius: 50%;
  overflow: hidden;
  padding: 12px 10px;
  border: none;
}
.top-navbar-column .navbar-menu-icon > span {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 20px;
  background: #fff;
  animation: animate-icon 1s linear infinite;
  pointer-events: none;
}

@keyframes animate-icon {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 400px;
    height: 400px;
    opacity: 0;
  }
}

.top-navbar-column .burger {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.top-navbar-column .burger > div {
  width: 20px;
  height: 2px;
  border-radius: 30px;
  background: #fff;
  margin: 4px;
}

/* end of top nav */

/* sidebar column */

.sidebar-column {
  grid-column: sidebar;
  width: 250px;
  height: 100vh;
  background: var(--average-dark-color);
  box-shadow: var(--shadow);
  color: #fff;
  position: relative;
  padding: 0px;
  transition: 0.5s;
  overflow: hidden !important;
}

.sidebar-column .first-top-box .top-head {
  position: absolute;
  top: 0px;
  height: 20px;
  width: 250px;
  display: flex;
  padding: 5px;
}
.sidebar-column .first-top-box .top-head ion-icon {
  float: right !important;
  padding: 10px;
  color: red;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .sidebar-column .first-top-box .top-head {
    display: flex;
  }
}

.sidebar-column .first-top-box {
  position: relative;
  width: 250px;
  height: auto;
  padding: 10px;
  background: #23232d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
}

.sidebar-column .first-top-box .user-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  box-shadow: var(--shadow);
  margin-bottom: 15px;
  margin-top: 12px;
}
.sidebar-column .first-top-box .active-status {
  position: absolute;
  left: 55%;
  top: 40%;
  background: var(--orange);
  padding: 5px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.sidebar-column .first-top-box .user-skills {
  color: #9e9898;
}

.sidebar-column .sidebar-main {
  position: relative;
  width: 260px;
  margin-top: 10px;
  height: 72vh;
  overflow: hidden !important;
}

.sidebar-column .content::-webkit-scrollbar {
  display: none;
}
/* my info container */
.sidebar-column .sidebar-main .content {
  height: 255px;
  overflow: scroll;
  height: 60vh;
  position:relative;

}
.sidebar-column .sidebar-main .content .myinfo {
  width: 250px;
  height: auto;
  font-size: 12px;
  padding: 12px;
}
.sidebar-column .sidebar-main .content .myinfo .clear-fix {
  width: 200px;
  border-bottom: 1px solid var(--grey);
  height: auto;
  overflow: hidden;
}

.sidebar-column hr {
  background-color: #777;
  margin: 0px auto;
  width: 200px;
}
/* skill container */
.sidebar-column .sidebar-main .content .skill-cont {
  width: 250px;
  max-height: 200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px;
  overflow: scroll;
}
.sidebar-column .sidebar-main .content .skill-cont::-webkit-scrollbar{
  display: none;
}

.sidebar-column .sidebar-main .content .skill-cont img {
  margin: 10px;
  width: 30px;
}

/* cv container */
.sidebar-column .first-top-box .cv-cont {
  font-size: 13px;
  margin: 0px auto;
  padding: 15px;
  text-align: start;
}
.sidebar-column .first-top-box .cv-cont a {
  color: #ccc;
  padding: 12px;
}
.sidebar-column .first-top-box .cv-cont a:hover {
  color: #fff;
  font-weight: 800;
}
/* end of cv container */
.sidebar-column .sidebar-footer {
  position: absolute;
  left: 0px;
  bottom: 50px;
  background: var(--custom-dark-color);
  width: 250px !important;
  height:50px;
  padding: 13px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
}

.sidebar-column .sidebar-footer .socials {
  display: flex;
  padding: 3px;
  color: #fff;
  position: relative;
  bottom: 20px;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
}
.sidebar-column .sidebar-footer .socials a {
  padding: 10px;
  color: #ccc;
  text-decoration: none;
}

/* end of sidebar style */

/* main column */

.main-column {
  grid-column: main;
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 3px var(--shadow);
  color: #fff;
  position: relative;
  overflow-y:scroll;
}
.main-column::-webkit-scrollbar{
  display:none;
}
.main-column .header {
  max-width: 100%;
  height: auto;
  padding:0px;
  margin:0px;
  background: url("../img/header/header.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  position:relative;
}

.main-column .header .overlay {
  width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: start;
}
.main-column .header .overlay .content {
  width: 80%;
  padding: 15px;
  position: relative;
  top: 55px;
  height: 50vh;
  flex-wrap: wrap;
  margin: 0px auto;
}
.main-column .header .overlay .content .txt h1 {
  /* width: 300px; */
  font-family: "Roboto", sans-serif;
}
.main-column .header .overlay .content .txt .code-txt {
  /* text-align: start; */
}
.main-column .header .overlay .content .txt .code-txt .typewritter-txt.animate {
  transition: 0.3s;
}
.main-column .header .overlay .content .btn-cont .hire-btn {
  padding: 12px 23px;
  text-decoration: none;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #000;
  border: 3px solid #ffc107;
  border-radius: 30px;
  transition: 0.2s;
}
.main-column .header .overlay .content .btn-cont .hire-btn:hover {
  padding: 12px 24px;
}

.main-column .header .overlay .content .img-cont {
  position: absolute;
  width: 200px;
  right: 100px;
  top: -30px;
}
.main-column .header .overlay .content .img-cont img {
  width: 250px !important;
  animation: float 2s infinite;
  transition: .3s;
}


@keyframes float{
  0%{
    position: relative;
    top:20px;
  }
  50%{
    position: relative;
    top:-20px;
  }
  100%{
    position: relative;
    top:20px;
  }
}


/* Main services container */

.main-column .portfolio-area{
  width:100%;
  height:auto;
  position:relative;
}

/* showcase area */
.main-column .portfolio-area .showcase-area{
  width:100%;
  height:40px;
  padding:12px;
  display:flex;
  margin:0px auto;
  margin-bottom:40px;
}

.main-column .portfolio-area .showcase-area .exp .yrs{
  color:#ffc107;
  font-weight:900;
  font-size:25px;
}
.main-column .portfolio-area .showcase-area .proj .proj-count{
  color:#ffc107;
  font-weight:900;
   font-size:25px;
}
/* end of showcase area */
.main-column .portfolio-area .services .content .services-box-cont{
  display:flex;
  flex-wrap:wrap;
  width:100%;
  height:auto;
  position:relative;

}
.main-column .portfolio-area .services .content .services-box-cont .box{
  width:250px;
  height:auto;
  padding:15px 15px;
  box-shadow: var(--light-shadow);
  background:#2c2c36;
 margin:15px auto;
}
.main-column .portfolio-area .services .content .services-box-cont .box .icon{
  text-align: center;
  font-size: 40px;
  color: var(--yellow);
}
.main-column .portfolio-area .services .content .services-box-cont .box p{
  text-align: center;
}
.main-column .portfolio-area .services .content .services-box-cont .box:hover{
  transition:.3s;
  box-shadow: -3px -3px 20px #16161d;
  cursor: pointer;
}

.main-column .portfolio-area .services .content .services-box-cont .box .body{
  font-size:14px;
  color:#777;
}

@keyframes move{
  0%{
    margin-left:4px;
    transition: .5s;
  }
  50%{
    margin-left:-4px;
    transition: .5s;
  }
  100%{
    margin-left:4px;
    transition: .5s;
  }
}
/* recommendation cont */
.main-column .portfolio-area .recomendations{
  width:100%;
  height:auto;
}

.main-column .portfolio-area .recomendations .rec-cont{
  padding:12px;
  display:grid;
  grid-template-columns:repeat(1000, auto);
  margin:0px auto;
  width: 100%;
  overflow-x: scroll;
}
.main-column .portfolio-area .recomendations .rec-cont::-webkit-scrollbar{
  display: none;
}
.main-column .portfolio-area .recomendations .rec-card{
  width:300px;
  height:auto;
  padding:14px;
  box-shadow: var(--light-shadow);
  background:#2c2c36;
  border-radius:5px;
  margin:12px;
}
.main-column .portfolio-area .recomendations .rec-card:hover{
transition:.3s;
  box-shadow: -3px -3px 20px #16161d;
  cursor: pointer;
}
.main-column .portfolio-area .recomendations .rec-card .head{
  margin-bottom:10px;
  display:flex;
  flex-direction:column;
}
.main-column .portfolio-area .recomendations .rec-card .head .rec-name{
  font-weight:700;
  font-size:14px;
}
.main-column .portfolio-area .recomendations .rec-card .head .field{
  font-size:13px;
  color:#777;
  padding:0px;
}

.main-column .portfolio-area .recomendations .rec-card .body{
  font-size:14px;
  color:#777;
}

.main-column .portfolio-area .recomendations .rec-card .ratings{
  width:20%;
}
.main-column .portfolio-area .recomendations .rec-card .ratings .rat{
  padding:4px 12px;
  border-radius:30px;
  background: var(--average-dark-color);
  font-size:14px;
}
.main-column .portfolio-area .recomendations .rec-card .ratings .rating-count{
  color:#ffc107;
  font-weight:600;
}
.main-column .portfolio-area .recomendations .rec-card .ratings .rat .rating-icon{
  font-size:15px;
  color:#ffc107;
}


/* portfolio section */
.main-column .portfolio-area  .portfolio-cont{
  min-width:100%;
  height:auto;
  display:grid;
  grid-template-columns: repeat(6, auto);
  padding:15px;
  overflow-x: scroll;
}
.main-column .portfolio-area  .portfolio-cont::-webkit-scrollbar{
  display: none;
}
.main-column .portfolio-area  .portfolio-cont .box{
  position:relative;
  width:300px;
  height:auto;
  box-shadow: var(--light-shadow);
  background:#2c2c36;
  border-radius: 5px;
  overflow: hidden;
  margin:12px;
}
.main-column .portfolio-area  .portfolio-cont .box .empty{
  position:absolute;
  right:0px;
  width:290px;
}
.main-column .portfolio-area  .portfolio-cont .box:hover{
  transition:.1s;
   box-shadow: -3px -3px 20px #16161d;
   border-bottom:2px solid #ffc107;
}
.main-column .portfolio-area  .portfolio-cont .box .img{
  width:100%;
  height:200px;
}
.main-column .portfolio-area  .portfolio-cont .box .date-cont{
  width:300px;
  height:40px;
  padding:12px;
}
.main-column .portfolio-area  .portfolio-cont .box .date-cont .date{
  padding:5px 15px;
  background:#23232d;
  border-radius:30px;
  color:#ccc;
}
.main-column .portfolio-area  .portfolio-cont .box .title-cont{
  padding:12px;
  height: 40px;
}
.main-column .portfolio-area  .portfolio-cont .box .title-cont .title{
  font-weight:100;

}
.main-column .portfolio-area  .portfolio-cont .box .footer{
  padding:12px;
}
.main-column .portfolio-area  .portfolio-cont .box .footer a{
  color:#ffc107;
}
.main-column .portfolio-area  .portfolio-cont .box .footer a:hover{
  transition: .3s;
  padding-left:5px;
}
.main-column .portfolio-area .portfolio-main .more-info{
  padding:10px 12px;
  border:2px solid #ffc107;
  border-radius: 30px;
  color:#fff;

}
.main-column .portfolio-area .portfolio-main .more-info:hover{
  background:#000;
}


/* contact info */
.main-column .portfolio-area  .contact-cont{
  width:100%;
  height:auto;
  position:relative;
}


.main-column .portfolio-area  .contact-cont .form-cont{
  width:100%;
}

.main-column .portfolio-area  .contact-cont .form-cont form{
  width:90%;
  padding:15px;
  background:#2c2c36;
}
.main-column .portfolio-area  .contact-cont .form-cont form .input-groups{
  display:flex;
  margin:5px;
  padding:10px;
}
.main-column .portfolio-area  .contact-cont .form-cont form .input-groups .left-icon{
  padding:8px 12px;
  background: #16161d;
  width:50px;
}
.main-column .portfolio-area  .contact-cont .form-cont form .input-groups .inputs{
  width:100%;
  border:0px;
  outline:none;
  background: #252531;
  text-indent: 20px;
  color:#ccc;
  font-size:12px;
}
.main-column .portfolio-area  .contact-cont .form-cont form .input-groups .inputs::placeholder{
  /* padding:12px; */
  font-size:12px;
}
.main-column .portfolio-area  .contact-cont .form-cont form .input-groups:hover .left-icon{
  background:#ffc107;
  color:#000;
}
.main-column .portfolio-area  .contact-cont .form-cont form .input-groups textarea{
  height:120px;
  resize: none;
  text-indent: 25px;
}
.main-column .portfolio-area  .contact-cont .form-cont form .input-groups textarea::placeholder{
  padding:5px;
  text-indent: 20px;
}

.main-column .portfolio-area  .contact-cont .form-cont form .submit-btn{
  padding:10px 12px;
  background:#ffc107;
  color:#000;
  border:none;
  outline:none;
  font-size:12px;
  position:relative;
}
.main-column .portfolio-area  .contact-cont .form-cont form .submit-btn:hover{
  transition: .4s;
  left:2px;
  top:1px;
}

/* footer */
.main-column .portfolio-area .footer{
  width:90%;
  height:auto;
  overflow:hidden;
    padding:13px;
  font-size:12px;
  background: #2c2c36;
  color:#ccc;
  font-weight:200;
}

/* end of main style */
















/* right navbar */
.right-sidebar-column {
  /* grid-area: right-sidebar; */
  width: 60px !important;
  height: 50vh;
  background: var(--custom-dark-color);
  box-shadow: 0px 0px 3px var(--shadow);
  text-align: center;
  color: #fff;
  position: fixed;
  right: -100px;
  transition: 0.2s;
  top: 100px;
  transition: .2s;
}
.right-sidebar-column.position-rightsidebar{
  position: fixed;
  right: 0px;
}

.right-sidebar-column.position-rightsidebar-2{
  position: fixed;
  right: -100px;
}

.right-sidebar-column .burger {
  position: fixed;
  right: 0px;
  top: 50px;
  background: var(--average-dark-color);
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 30px;
  width:60px;
}

.right-sidebar-column .burger > div {
  width: 25px;
  height: 2px;
  background: #fff;
  margin: 5px;
}
.right-sidebar-column .navigation-links{
  position: relative;
  left: 0px;
  text-align:start;
  overflow: hidden;
}

.right-sidebar-column .navigation-links li{
  padding:10px;
  text-align: start;
  float:left;
  font-size: 30px;
  width:60px;
  background: var(--average-dark-color);
  margin-top: 3px;
}
.right-sidebar-column .navigation-links li a .navbar-icons{
  padding-left: 10px;
  font-size: 25px;
  color: #fff;
}
.right-sidebar-column .navigation-links li a .navbar-icons:hover{
  color:#777;
}